<!DOCTYPE html>
<html lang = "en-US">
  <head>
    <meta charset = "UTF-8">
    <link href = "./asset/img/giphy.gif" rel="icon" type="image/gif">
    <meta name="viewport" content="width=device-width, minimum-scale=1"/>
    <title>Music Tracking</title>
  </head>
  <body>
    <div id="app">
      
    </div>
    <script src="bundle.js"></script>
    <script src="https://unpkg.com/react-transition-group/dist/react-transition-group.min.js"></script>
  </body>
</html>