#header-bar {
    background-color:#0091EA ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 45px;
    text-align: center;
}

#text {
    margin-top:-1px;
    font-size: 30px;
    color:white;
}

@media all and (max-width: 320px) {
    #header-bar {
        background-color:#0091EA ;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 100%;
        min-width:290px;
        position: fixed;
        top: 0;
        left: 0;
        height: 45px;
        text-align: center;
    }

    #text {
        margin-top:-1px;
        font-size: 30px;
        color:white;
    }
}

@media all and (min-width: 321px) and (max-width: 484px) {
    #header-bar {
        background-color:#0091EA ;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 100%;
        min-width:290px;
        position: fixed;
        top: 0;
        left: 0;
        height: 45px;
        text-align: center;
    }

    #text {
        margin-top:-1px;
        font-size: 30px;
        color:white;
    }
}