input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://www.iconfinder.com/data/icons/ionicons/512/icon-ios7-search-strong-128.png');
    background-position: 10px 10px; 
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 70%;
}

select {
    height: 46px;
}

button {
    height: 46px;
}

button:hover input {
    width:70%;
}

@media all and (max-width: 320px) {
    input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://www.iconfinder.com/data/icons/ionicons/512/icon-ios7-search-strong-128.png');
    background-position: 10px 10px; 
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 60%;
    }

    select {
        height: 46px;
    }

    button {
        height: 46px;
    }

    button:hover input {
        width:70%;
    }
}

@media all and (min-width: 321px) and (max-width: 481px) {
    input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://www.iconfinder.com/data/icons/ionicons/512/icon-ios7-search-strong-128.png');
    background-position: 10px 10px; 
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 60%;
    }

    select {
        height: 46px;
    }

    button {
        height: 46px;
    }

    button:hover input {
        width:70%;
    }
}