.home {
        background-color: #d4eff7;
        background-image: url(../asset/img/music-tracker-background.jpg);
        min-width: 482px;
        position: fixed; 
}

.searchContainer  {
    position:relative;
    top: 10px;
    margin: auto;
    width:80%;
    height: 515px;
    min-width: 434px;
}

@media all and (max-width:320px) {
    .home {
        background-color: #d4eff7;
        background-image: url(../asset/img/music-tracker-background.jpg);
        width: 320px;
        position: fixed;
    }

    .searchContainer  {
        position:absolute;
        top: 5px;
        width:320px;
        height: auto;
        min-width: 290px;
    }
}

@media all and (min-width:320px) and (max-width: 481px) {
    .home {
        background-color: #d4eff7;
        background-image: url(../asset/img/music-tracker-background.jpg);
        width: 100vw;
        position: fixed;
    }

    .searchContainer  {
        position:absolute;
        top: 5px;
        width:100vw;
        height: auto;
        min-width: 290px;
    }
}