.home {
    background-image: none !important;
    background-color: white !important; 
    position: fixed;
}

.trendsBoard {
    position:relative;
    top: 5px;
    margin: auto;
    width:80%;
    height: auto;
    min-width: 434px;
}

.texte1 {
    position:relative;
    top: 7px;
    left: 7px;
    font-size: 10sp;
}

.titleContainer { 
    position: relative;
    overflow-y: auto;
    width: 100%;
    height: 73vh;
}


#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #B3E5FC;
}

.example-enter {
    opacity: 0.1;
}

.example-enter.example-enter-active {
    opacity: 1;
    transition: 3000ms  ease-out;
}

@media all and (max-width: 320px){
    .home {
        background-image: none !important;
        background-color: white !important;
        width:320px;
        position: fixed;
    }

    .trendsBoard {
        position:absolute;
        top: 5px;
        width:320px;
        height: auto;
        min-width: 290px;
    }

    .texte1 {
        position:relative;
        top: 7px;
        left: 7px;
        font-size: 10sp;
    }

    .titleContainer {
        position: relative;
        overflow-y: auto;
        width: 100%;
        height: 73vh;
    }


    #style-2::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    #style-2::-webkit-scrollbar
    {
        width: 12px;
        background-color: #F5F5F5;
    }

    #style-2::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #B3E5FC;
    }
}

@media all and (min-width: 321px) and (max-width: 481px){
    .home {
        background-image: none !important;
        background-color: white !important;
        width:100vw;
        position: fixed;
    }

    .trendsBoard {
        position:absolute;
        top: 5px;
        width:100vw;
        height: auto;
        min-width: 290px;
    }

    .texte1 {
        position:relative;
        top: 7px;
        left: 7px;
        font-size: 17sp;
    }

    .titleContainer {
        position: relative;
        overflow-y: auto;
        width: 100%;
        height: 73vh;
    }


    #style-2::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    #style-2::-webkit-scrollbar
    {
        width: 12px;
        background-color: #F5F5F5;
    }

    #style-2::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #B3E5FC;
    }
}