.home {
    min-width: 482px;
    position: fixed;
}

.listPreferenceBoard  {
    position:relative;
    top: 10px;
    margin: auto;
    width:80%;
    height: 515px;
    min-width: 434px;
}

.texte1 {
    position:relative;
    top: 7px;
    left: 7px;
    font-size: 1.8em;
}

@media all and (max-width:320px) {
    .home {
        background-color: #d4eff7;
        width: 320px;
        position: fixed;
    }

    .listPreferenceBoard  {
        position:absolute;
        top: 5px;
        width:320px;
        height: auto;
        min-width: 290px;
    }

    .texte1 {
        position:relative;
        top: 7px;
        left: 7px;
        font-size: 1.8em;
    }
}

@media all and (min-width:320px) and (max-width: 481px) {
    .home {
        background-color: #d4eff7;
        width: 100vw;
        position: fixed;
    }

    .listPreferenceBoard  {
        position:absolute;
        top: 5px;
        width:100vw;
        height: auto;
        min-width: 290px;
    }

    .texte1 {
        position:relative;
        top: 7px;
        left: 7px;
        font-size: 1.8em;
    }
}