.login-control {
    width: 450px;
    background-color: white; 
    padding: 20px;
    float: right;
    position: absolute; 
    top: 100px;
    right: 40px;
    box-shadow: 1px 1px 20px 3px;
}

#signInButton {
    background-color: #0091EA;
    color: white;
}

@media all and (max-width:600px) {
    .login-control {
        width: 80%;
        margin:0 auto;
        background-color: white;
        position: absolute;
        padding: 20px;
        top: 100px;
        box-shadow: 1px 1px 20px 3px;
    }

    #signInButton {
        background-color: #0091EA;
        color: white;
    }
}

@media all and (max-width:400px) {
    .login-control {
        width: 100%;
        background-color: white;
        position: absolute;
        right: 0px;
        padding: 10px;
        top: 100px;
        box-shadow: 1px 1px 20px 3px;
    }

    #signInButton {
        background-color: #0091EA;
        color: white;
    }
}