.noSearch {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.faSearch {
    font-size: 5em;
    color: #0091EA;
}


@media all and (max-width: 320px) {
    .noSearch {
        position: relative;
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }
    
    .faSearch {
        font-size: 4.5em;
        color: #0091EA;
    }
}

@media all and (min-width: 321px) and (max-width: 481px) {
    .noSearch {
        position: relative;
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }
    
    .faSearch {
        font-size: 4.5em;
        color: #0091EA;
    }
}