.register-control {
    width: 500px;
    background-color: white; 
    padding-top: 20px;
    padding-left: 30px;
    float: right;
    position: absolute;
    top: 100px;
    right: 40px;
    box-shadow: 1px 1px 20px 3px;
}

input[type=text] , input[type=password] {
    width: inherit;
    background-image: none;
    padding: inherit;
    border: 1px solid #CCB;
    padding-top: 3px;
    line-height: 2;
}

.form-group2 {
    width: 360px;
    margin-left: 15px;

}

.col-sm-2 {
    max-width: 50% !important;
}

#registerButton {
    background-color: #0091EA;
    color: white;
}

@media all and (max-width: 600px) {
    .register-control {
        width: 80%;
        background-color: white;
        margin: 0 auto; 
        padding: 20px;
        position: absolute;
        top: 100px;
        box-shadow: 1px 1px 20px 3px;
    }
    
    input[type=text] , input[type=password] {
        width: inherit;
        background-image: none;
        padding: inherit;
        border: 1px solid #CCB;
        padding-top: 3px;
        line-height: 2;
    }
    
    .form-group2 {
        width: 80%;
        margin-left: 15px;
    }
    
    .col-sm-2 {
        max-width: 50% !important;
    }

    #registerButton {
        background-color: #0091EA;
        color: white;
    }
}

@media all and (max-width: 400px) {
    .register-control {
        width: 100%;
        background-color: white;
        margin: 0 auto;  
        padding: 20px;
        right: 0;
        position: absolute;
        top: 100px;
        box-shadow: 1px 1px 20px 3px;
    }
    
    input[type=text] , input[type=password] {
        width: inherit;
        background-image: none;
        padding: inherit;
        border: 1px solid #CCB;
        padding-top: 0px;
        line-height: 2;
    }
    
    .form-group2 {
        width: 70%;
        margin-left: 15px;
    
    }
    
    .col-sm-2 {
        max-width: 50% !important;
    }

    #registerButton {
        background-color: #0091EA;
        color: white;
    }
}

