input[type=text] {
    width: 200px;
    height: 39px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px !important;
    margin-right: 10px;
}



#select {
    width: 110px;
    display: none !important;
}

#search-button {
    background-color: #0091EA !important;
    color: white !important;
    height: 39px !important;
    /* width: 20px;
    top: -19px; */
}

#search-button:hover input {
    width:70%;
}

.form-group1 {
    float: left;
    margin-right: 10px;
}   

@media all and (max-width: 320px) {
    input[type=text] {
    width: 120px !important;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 60%;
    }

    select {
        height: 46px;
    }

    #search-button {
        background-color: #0091EA;
        height: 46px;
    }

    #search-button:hover input {
        width:70%;
    }
}

@media all and (min-width: 321px) and (max-width: 481px) {
    input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-size: 25px 25px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    }

    input[type=text]:focus {
        width: 60%;
    }

    select {
        height: 46px;
    }

    #search-button {
        background-color: #0091EA;
        height: 46px;
    }

    #search-button:hover input {
        width:70%;
    }
}