#header-bar {
    background-color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#80bfff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 45px;
    text-align: center;
    min-width: 542px;
}

h1 {
    margin-top:-1px;
}