.home {
        background-color: #e6f2ff;

}

.trendsBoard {
    position:relative;
    top: 10px;
    background-color: rgba(0,23,34,0.212);
    margin: auto;
    width:80%;
    height: 515px;
    text-align: center;
}

.titleContainer {
    position: relative;
    overflow-y: auto;
    width: 100%;
    height: 445px;
}

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: rgba(34,23,12,0.72);
}

