
.musicField {
    position:relative;
    background-color: rgba(34,23,12,0.72);
    min-width: 422px;
    margin:0 auto;
    height: 110px;
    margin-top:10px;
}

.musicField:hover {
    background-color: rgba(3,3,2,0.92);
}

.titleImage {
    background-image: url(https://www.colourbox.com/preview/4246472-music-stars-background-colorfull-music-notes.jpg);
    float: left;
    position:relative;
    top: 6px;
    left:10px;
    width:56px;
    height: 56px;
    background-color:#d9b3ff;
}

.titleInfos {
    float: left;
    position:relative;
    top: 6px;
    left:10px;
    min-width:160px;
    height: 100px;
    margin-left: 5px;
    text-align: left;
}

p {
    color: white;
    font-size: 17px;
    margin-left: 7px;
    margin-top: -1px;
}

.artistName {
    position:relative;
    font-size:25px;
}

.titleName {
    position:relative;
    font-size: 19px;
    top:-15px;
}

.albumName {
    position:relative;
    font-size:15px;
    top:-23px;
}

.addButton {
    float: right;
    position:relative;
    top: 6px;
    width:19%;
    height: 100px;
    margin-left: 5px;
    max-width: 80px;
    font-size:5em;
    color:#80bfff;
}

.addButton:hover {
    color:rgba(128, 212, 55,0.72);
}